* {
    box-sizing: border-box;
}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 0%;
}



header {
    background-image: url(/img/pngwing.com\ \(8\).png);
    display: flex;
    padding: 5px;
    border-block-start-style: groove;
    border-block-end-style: groove;
    border-width: 10px;
    border-radius: 1%;


}

.logo img {
    border-radius: 2%;
    height: 150px;
    width: 300px;
}

h1 {
    color: #154bfd;
    text-align: left;
}

.logo-nombre {
    display: flex;
    text-align: right;
    align-items: baseline;
    margin-right: 10px;


}


.text_asid {
    display: flex;
    border-width: 10px;
    color: #2948af;

}




nav {
    display: flex;
    flex-direction: row;
    background-color: rgba(170, 170, 170, 0.377);
    border-style: groove;
    border-width: 5px;
}

nav a {
    
    padding: 10px 10px;
    text-decoration-color: rgb(250, 250, 252);
    border-style: groove double;

}




.row {
    padding-bottom: 1px;
    padding-top: 1px;
    display: flex;
    flex-wrap: wrap;
    border-style: groove
    
}

aside {
    text-align: center;
    flex: 30px;
    background-image: url(/img/fulls/03.jpg);
    padding: 20px;
    border-style: groove;
    border-width: 5px;


}


.section2 {

    text-decoration-line: underline;
    flex: 10px;
    padding: 20px;
    border-color: #394413;
    color: #154bfd;
    border-style: double;
    border-width: 5px;
}

h3 {

    text-align: center;
    padding: auto;
    text-shadow: 3px 6px 3px #b3b2b2;
}




section {
    flex: 40%;
    background-image: radial-gradient(circle at 120.71% 50%, #6cc392 0, #5ec49b 5%, #4fc5a5 10%, #3fc5af 15%, #2cc6b9 20%, #12c6c3 25%, #00c5cd 30%, #00c5d6 35%, #00c4df 40%, #00c3e6 45%, #0cc1ed 50%, #2dbff3 55%, #44bdf7 60%, #59bafa 65%, #6cb8fc 70%, #7db5fc 75%, #8eb1fc 80%, #9eaef9 85%, #adaaf6 90%, #bba7f1 95%, #c7a3eb 100%);
    padding: 20px;



}



footer {
    padding: 20px;
    text-align: center;
    text-shadow: #b8e907;
    background-image: url(/img/fulls/07.jpg);
}

@media screen and (max-width: 700px) {

    nav,
    .row {
        flex-direction: column;
    }
}

p.pointer {
    cursor: pointer;

}


div.arrastre {
    cursor: move;
    width: 200px;
    height: 200px;
    background-color: #ffffff;
}